* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --colorBackground: #FFF;
    --colorBackgroundCard: #FFF;
    --colorTextPrimary: #18153a;
    --colorTextSecondary: #f2eff5;
    --colorTextPrimaryLight: #FFF;
    --colorTitlePrimary: #18153a;
    --colorBackgroundButton: #2b2730;
    --colorBlockquote: #231e50;
    --colorIconBasePrimary: #43334d;
    --colorBorderPrimary: #252229;
    --colorScrollbarLighter: #c2c1c4;
    --colorScrollbarDarker: #9d96a3;
    --colorLinkButton: #9a66ee;
    --colorBackgroundLinkButton: #7340c418;

    font-size: 60%;

    scroll-behavior: smooth;
}

body {
    background-color: var(--colorBackground);
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    height: 100vh;
    color: var(--colorTextPrimary);
}

body,
input,
button {
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
    color: var(--colorTextPrimary);
}

h1,
h2,
h3,
h4 {
    color: var(--colorTitlePrimary);
}

a {
    text-decoration: none;
    font-weight: 550;

    color: #282377;
}

blockquote {
    color: var(--colorBlockquote);
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}

.initial {
    display: flex;
    justify-content: initial !important;
    align-items: flex-start !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-between {
    display: flex;
    justify-content: space-between;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.standard-margin {
    margin: .7rem;
}

.standard-padding {
    padding: .7rem;
}

.separate-container {
    margin: 4rem 0 4rem 0;
    width: 80%;
    height: 0;
    border: 1px solid rgba(0, 0, 0, 0.100);
}

.text-align-center {
    text-align: center;
}

.title-container {
    margin-bottom: .5rem;
}

.subtitle-topic+.subtitle-topic {
    margin-top: 3rem;
}

.link-button {
    padding: 2px;

    border: 1px solid var(--colorLinkButton);
    border-radius: .8rem;

    font-size: 80%;

    background-color: var(--colorBackgroundLinkButton);
    color: var(--colorLinkButton);
}

.square-button {
    padding: 1rem 1.5rem;
    border-radius: 1rem;

    color: var(--colorTextSecondary);

    transition: .3s;
}

.square-button:hover {
    border-radius: 1.5rem;
}

@media (max-width: 860px) {
    .main-container {
        width: 90%;
    }

    .column-mobile {
        display: flex;
        flex-direction: column !important;
    }
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--colorScrollbarLighter);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--colorScrollbarDarker);
}
::-webkit-scrollbar-button {
    height: 0;
}