* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --colorBackground: #FFF;
    --colorBackgroundCard: #FFF;
    --colorTextPrimary: #38313f;
    --colorTextPrimaryLight: #FFF;
    --colorTitlePrimary: #252229;
    --colorIconBasePrimary: #43334d;
    --colorBorderPrimary: #252229;

    font-size: 60%;
}

body {
    background-color: var(--colorBackground);
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    height: 100vh;
    color: var(--colorTextPrimary);
}

body,
input,
button {
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
    color: var(--colorTextPrimary);
}

h1,
h2,
h3 {
    color: var(--colorTitlePrimary);
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.standard-margin {
    margin: .7rem;
}

.standard-padding {
    padding: .7rem;
}

.text-align-center {
    text-align: center;
}

.container+.container {
    margin-top: 2rem;
}

@media (max-width: 860px) {
    .main-container {
        width: 90%;
    }

    .column-mobile {
        display: flex;
        flex-direction: column !important;
    }
}