.main-container {
    
}

.main-container .main-top-container {
    max-width: 72rem;
}

.main-container .main-top-container .avatar-content {
    margin-right: 3rem;
}

@media (max-width: 860px) {
    .main-container .main-top-container .avatar-content {
        margin-right: 0;
    }
}